%rounded {
  padding: 15px 30px;
  border: 0;
  border-radius: 5px;
  color: $white;
  text-transform: uppercase;
  font-weight: 900;
  @include mq(large) {
    padding: 10px 30px;
  }
}

%btn {
  @extend %rounded;
  width: 100%;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  margin: em(12px) 0;
  &:hover {
    opacity: 0.7;
  }
  &:active {
    opacity: initial;
  }
}
