.nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-bottom: em(80px);

  &__item {

    a {
      &:link,
      &:visited {
        display: block;
        color: $light-grey;
        text-align: center;
        text-decoration: none;
        font-weight: 300;
        font-size: em(20px);
        padding: em(20px);
        border-radius: em(10px);
      }
       &:hover,
       &:active {
         color: #fff;
         background-color: $color-accent;
       }
     }
  }
}
