.nav {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  margin: 0 0 em(80px);
  @media (min-width: $break-md) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  &__item {

    a {
      &:link,
      &:visited {
        display: block;
        color: $light-grey;
        text-align: center;
        text-decoration: none;
        font-weight: 300;
        font-size: em(20px);
        padding: em(20px);
        border-radius: em(10px);
      }
       &:hover,
       &:active {
         color: #fff;
         background-color: $color-accent;
       }
     }
  }
}
