.container {
  color: $color-text;
  font-family: $font-stack;
  font-size: $base__font-size;
  line-height: ( $base__line / $base__font-size );
  font-weight: 400;
  font-style: normal;
    > .headline--secondary {
      margin-left: em(22px);
    }
}

.link {
  color: $color-accent;
  font-weight: 700;
  text-decoration: none;
}

.blockquote {
  border-left: 10px solid $color-accent;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-left: em(10px);
  margin-top: em(36px);
  font-size: em(26px);
  line-height: 1.2;
  font-style: italic;
}

.headline {

  &--primary {
    color: $color-accent;
    font-weight: 900;
    line-height: 1.1;
    margin-bottom: em(60px, 36px); // 2em is h1 font-size = 18*2= 36px for context
    margin-left: 5%;
  }

  &--secondary {
    // font-size 18px - same as base font size
    margin: em(80px) 0 em(28px);
    font-size: ($base__font-size + 2px);
    font-weight: 300;
    line-height: 1.2;
  }
}
