// .container is set on the 'body' element
.container {
  color: $color-text;
  font-family: $font-stack; // Lato Google Font
  font-size: $base__font-size;
  line-height: ( $base__line / $base__font-size );
  font-weight: 400;
  font-style: normal;
    > .headline--secondary {
      margin-left: em(26px, 20px);
      @include mq(med) {
        margin-left: em(50px, 20px);
      }
    }
}

.headline {
  &--primary {
    //font size: 36px
    font-size: em($base__font-size * 2);
    font-weight: 900;
    line-height: 1.1;
    color: $color-accent;
    margin-bottom: em(60px, 36px); // 2em is h1 font-size = 18*2= 36px for context
    margin-left: 5%;
  }
  &--secondary {
    // font-size 20px
    font-size: em($base__font-size + 2px);
    font-weight: 300;
    line-height: 1.2;
    margin: em(40px, 20px) 0 em(28px, 20px);
  }
}

.link {
  color: $color-accent;
  font-weight: 700;
  text-decoration: none;
  width: 165px;
  align-self: center;
}

.blockquote {
  border-left: 10px solid $color-accent;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-left: em(10px);
  margin-top: em(36px);
  font-size: em(26px);
  line-height: 1.2;
  font-style: italic;
  color: $color-text;
}
